In [1]:
import pandas as pd

In [4]:
df0_protien = pd.read_csv("../data/amp-parkinsons-disease-progression-prediction/train_proteins.csv")
df0_protien

         visit_id  visit_month  patient_id UniProt       NPX
0            55_0            0          55  O00391   11254.3
1            55_0            0          55  O00533  732430.0
2            55_0            0          55  O00584   39585.8
3            55_0            0          55  O14498   41526.9
4            55_0            0          55  O14773   31238.0
...           ...          ...         ...     ...       ...
232736  58648_108          108       58648  Q9UBX5   27387.8
232737  58648_108          108       58648  Q9UHG2  369437.0
232738  58648_108          108       58648  Q9UKV8  105830.0
232739  58648_108          108       58648  Q9Y646   21257.6
232740  58648_108          108       58648  Q9Y6R7   17953.1

[232741 rows x 5 columns]

In [6]:
df0_peptides = pd.read_csv("../data/amp-parkinsons-disease-progression-prediction/train_peptides.csv")
df0_peptides

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.30
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.00
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.00
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.90
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.70
...,...,...,...,...,...,...
981829,58648_108,108,58648,Q9UHG2,ILAGSADSEGVAAPR,202820.00
981830,58648_108,108,58648,Q9UKV8,SGNIPAGTTVDTK,105830.00
981831,58648_108,108,58648,Q9Y646,LALLVDTVGPR,21257.60
981832,58648_108,108,58648,Q9Y6R7,AGC(UniMod_4)VAESTAVC(UniMod_4)R,5127.26
981833,58648_108,108,58648,Q9Y6R7,GATTSPGVYELSSR,12825.90

In [8]:
df0_clinical_train = pd.read_csv("../data/amp-parkinsons-disease-progression-prediction/train_clinical_data.csv")
df0_clinical_train

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On
...,...,...,...,...,...,...,...,...
2610,65043_48,65043,48,7.0,6.0,13.0,0.0,Off
2611,65043_54,65043,54,4.0,8.0,11.0,1.0,Off
2612,65043_60,65043,60,6.0,6.0,16.0,1.0,Off
2613,65043_72,65043,72,3.0,9.0,14.0,1.0,Off
2614,65043_84,65043,84,7.0,9.0,20.0,3.0,Off

In [10]:
df0_clinical_suppl = pd.read_csv("../data/amp-parkinsons-disease-progression-prediction/supplemental_clinical_data.csv")
df0_clinical_suppl

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,35_0,35,0,5.0,3.0,16.0,0.0,NaN
1,35_36,35,36,6.0,4.0,20.0,0.0,NaN
2,75_0,75,0,4.0,6.0,26.0,0.0,NaN
3,75_36,75,36,1.0,8.0,38.0,0.0,On
4,155_0,155,0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...
2218,65382_0,65382,0,NaN,NaN,0.0,NaN,NaN
2219,65405_0,65405,0,5.0,16.0,31.0,0.0,NaN
2220,65405_5,65405,5,NaN,NaN,57.0,NaN,NaN
2221,65530_0,65530,0,10.0,6.0,24.0,0.0,NaN
2222,65530_36,65530,36,8.0,4.0,15.0,4.0,On

In [17]:
df0_protien['visit_id'].nunique(),\
df0_peptides['visit_id'].nunique(),\
df0_clinical_train['visit_id'].nunique(),\
df0_clinical_suppl['visit_id'].nunique()

(1113, 1113, 2615, 2223)

In [21]:
df0_protien['UniProt'].unique()

array(['O00391', 'O00533', 'O00584', 'O14498', 'O14773', 'O14791',
       'O15240', 'O15394', 'O43505', 'O60888', 'O75144', 'O75326',
       'O94919', 'P00441', 'P00450', 'P00734', 'P00736', 'P00738',
       'P00746', 'P00747', 'P00748', 'P00751', 'P01008', 'P01009',
       'P01011', 'P01019', 'P01023', 'P01024', 'P01031', 'P01033',
       'P01034', 'P01042', 'P01344', 'P01591', 'P01608', 'P01621',
       'P01717', 'P01780', 'P01833', 'P01834', 'P01857', 'P01859',
       'P01860', 'P01861', 'P01876', 'P01877', 'P02452', 'P02647',
       'P02649', 'P02652', 'P02655', 'P02656', 'P02671', 'P02675',
       'P02679', 'P02747', 'P02748', 'P02749', 'P02750', 'P02751',
       'P02753', 'P02760', 'P02763', 'P02765', 'P02766', 'P02768',
       'P02774', 'P02787', 'P02790', 'P04004', 'P04075', 'P04156',
       'P04180', 'P04196', 'P04207', 'P04211', 'P04216', 'P04217',
       'P04275', 'P04406', 'P04433', 'P05060', 'P05067', 'P05090',
       'P05155', 'P05156', 'P05408', 'P05452', 'P05546', 'P06310',
       'P06396', 'P06454', 'P06681', 'P06727', 'P07195', 'P07225',
       'P07333', 'P07339', 'P07602', 'P07711', 'P07858', 'P07998',
       'P08123', 'P08133', 'P08253', 'P08294', 'P08493', 'P08571',
       'P08603', 'P08637', 'P08697', 'P09104', 'P09486', 'P09871',
       'P10451', 'P10643', 'P10645', 'P10909', 'P11142', 'P11277',
       'P12109', 'P13473', 'P13521', 'P13591', 'P13611', 'P13671',
       'P13987', 'P14174', 'P14314', 'P14618', 'P16035', 'P16070',
       'P16152', 'P16870', 'P17174', 'P17936', 'P18065', 'P19021',
       'P19652', 'P19823', 'P19827', 'P20774', 'P20933', 'P23083',
       'P23142', 'P24592', 'P25311', 'P27169', 'P30086', 'P31997',
       'P35542', 'P36222', 'P36955', 'P36980', 'P39060', 'P40925',
       'P41222', 'P43121', 'P43251', 'P43652', 'P49588', 'P49908',
       'P51884', 'P54289', 'P55290', 'P61278', 'P61626', 'P61769',
       'P61916', 'P80748', 'P98160', 'Q02818', 'Q06481', 'Q08380',
       'Q12805', 'Q12841', 'Q12907', 'Q13283', 'Q13332', 'Q13451',
       'Q13740', 'Q14118', 'Q14508', 'Q14515', 'Q14624', 'Q15904',
       'Q16270', 'Q16610', 'Q562R1', 'Q6UX71', 'Q6UXB8', 'Q6UXD5',
       'Q7Z3B1', 'Q7Z5P9', 'Q8IWV7', 'Q8N2S1', 'Q8NBJ4', 'Q8NE71',
       'Q92520', 'Q92823', 'Q92876', 'Q96BZ4', 'Q96KN2', 'Q96PD5',
       'Q96S96', 'Q99435', 'Q99674', 'Q99832', 'Q99969', 'Q9BY67',
       'Q9HDC9', 'Q9NQ79', 'Q9NYU2', 'Q9UBR2', 'Q9UBX5', 'Q9UHG2',
       'Q9UNU6', 'Q9Y646', 'Q9Y6R7', 'P01594', 'P02792', 'P32754',
       'P60174', 'Q13449', 'Q99683', 'Q99829', 'Q9UKV8'], dtype=object)